
<nav class="navbar navbar-expand-xl c-bg-primary c-white">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <%= link_to content_tag(:i,"keyboard_backspace", class:"material-icons c-white"), groups_path %>
        </div>

        <div class="navbar-wrapper">
            <p class="navbar-brand" href="#">DETAILS</p>
        </div>
        <div class="navbar-wrapper">
        </div>
    </div>
</nav>
<div class="card pt-4 m-2 px-4 w-auto">
    <div class="row justify-content-arround px-3 mb-2">
        <div class="mr-2">
            <i class="material-icons fs-60 card-header-primary p-1 c-white">group</i>
        </div>
        <div class="d-flex flex-column col justify-content-around">
            <p class="font-weight-bold">
            <%=  @group.name %>
            </p>
        </div>    
    </div>
    <p>This loan group is created by <b><%= @group.author.name %></b> on <%= @group.created_at.strftime("%B %d, %Y at %I:%M%p" ).downcase %> </p>
    <hr class="m-0" />
    <div class="row mx-1 justify-content-between">
        <b class="h4">
            TOTAL LOAN
        </b>
        <p class="h4">$ <%= @total_loans %></p>
    </div>
</div>

<% all_loans(@loans) %>
