<section class="users-section">
    <nav class="navbar navbar-expand-xl c-bg-primary c-white mb-0">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <%= link_to content_tag(:i,"keyboard_backspace", class:"material-icons c-white"), home_path %>
            </div>

            <div class="navbar-wrapper">
            <p class="navbar-brand" href="#">MY EXTERNALS LOANS</p>
            </div>
            <div class="navbar-wrapper">
            </div>
        </div>
    </nav>
    <div>
      <div class="card px-3 pb-3">
         <div class="p-0 m-0 info info2 info-horizontal">
          <div class="icon">
            <button class="btn c-bg-primary btn-fab btn-fab btn-round">
              <i class="material-icons">work</i>
            </button>
          </div>
          <div class="description row justify-content-between pt-2">
            <p class="info-title">Total external loans</p>
            <h4 class="info-title">$ <%= ext_loans_sum %> </h4>
          </div>
        </div>
      </div>
    </div>

    
    <% ext_loans.each do |loan| %>

     <div class="card m-2 p-3 w-auto">
        <div class="row justify-content-arround px-3">
            <div class="mr-2">
              <%= icon_loan(loan) %>
            </div>
            <div class="d-flex flex-column col justify-content-around">
                <div class="row mx-1 justify-content-between" >
                    <p class="font-weight-bold">
                        <%= loan.name %>
                    </p>
                    <b class="">$ <%= loan.amount %></b>
                </div>
                <hr class="m-0" />

              <div class="row mx-1 justify-content-between">
                <label class="font-italic">
                  <%= loan.created_at.strftime("%b %d, %Y" ).downcase %>
                </label>
                <label class="font-italic" ><%= group_name(loan) %></label>
              </div>
            </div>
        </div>
      </div>

    
    <% end %>

    <div class="row">
      <%= link_to 'New loan', new_loan_path, class: "btn btn-block p-4 btn-lg c-bg-secondary" %>
    </div>

</section>
